@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --icon-size: 1.5rem;

  --max-page-width: 1400px;
  --max-page-width--padding: max(16px, (100vw - var(--max-page-width) + 16px) / 2);
}